.controls {
/* 	float: right; */

}

.drawArea {
	/* 	position: relative; */
	float: left;
	border: 1px solid #c3c3c3;
	padding-left: 0;
	padding-right: 0;
	/*margin-left: 200px;*/
	margin-right: 20px;
	border: 1px solid #c3c3c3;
	display: inline-block;
}

.displayArea {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: thin solid grey;
	padding: 10px;
}

.mediumControls {
	border: thin solid grey;
	padding: 10px 10px 10px 10px;
}

.dyn-form {
	
}

.dyn-form ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}

.dyn-form li {
	padding: 0px;
	/* 	margin: 0px; */
	/* 	margin: 20px 0px 20px 0px; */
	height: 50px;
}

.dyn-form div, span /*.li-box*/ {
	/* 	padding: 0px; */
	/* 	margin: 0px; */
	display: inline-block;
}

.dyn-form label {
	display: inline-block;
	width: 130px;
}

.dyn-form input, textarea, select {
	display: inline-block;
	margin-left: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
/* 	height: 33px; */
	vertical-align: middle;
}

.dyn-form a {
	display: inline-block;
	margin-left: 10px;
}